<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>Ceph Dashboard</title>
  <link href="{{ url_for('static', filename='css/bootstrap.min.slate.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/ceph.dash.css') }}" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/icon.png') }}" />
</head>
<body>
  <div class="container">
    <div class="well">
      <h1>Ceph Pool</h1>
      <p>
        <!--show warning icon if data is getting to old-->
        <span id="last_update" style="display:none;" class="glyphicon glyphicon-warning-sign icon-warn"></span>
        <!--add cluster fsid for informational purposes-->
        <small id="cluster_fsid"></small>
      </p>
    </div>

    <div class="panel panel-primary">
        <div class="panel-body">
            <a href="/">Dash</a>
            <a href="/pools/">Pool</a>
            <a href="/disks/">Disk</a>
        </div>
    </div>

    <!--START CEPH CLUSTER GLOBAL POOL STATS-->
    <div class="panel panel-primary">
      <div class="panel-heading cd-collapsable">
        <h3 class="panel-title">
          Ceph Cluster Global Pool Stats
        </h3>
      </div>
      <div class="panel-body">
        <table class="table table-condensed">
          {% for stat in stats %}
          <tr>
            {% for s in stat %}
                <td>{{ s }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <!--END CEPH CLUSTER GLOBAL POOL STATS-->

    <!--START CEPH CLUSTER POOLS-->
    <div class="panel panel-primary">
      <div class="panel-heading cd-collapsable">
        <h3 class="panel-title">
          Ceph Cluster Pools
        </h3>
      </div>
      <!--here we add the overall status-->
      <div class="panel-body">
          <a href="#" onclick="showbg()">create</a>
      </div>
      <div class="panel-body">
          <table class="table table-condensed">
              <tr>
              {% for t in title %}
                  <td>{{ t }}</td>
              {% endfor %}
                  <td>operate</td>
              </tr>
              {% for pool in pools %}
              <tr>
                  <td>{{ pool['id'] }}</td>
                  <td>{{ pool['name'] }}</td>
                  <td>{{ pool['objects']}}</td>
                  <td>{{ pool['bytes_used'] }}</td>
                  <td>{{ pool['kb_used'] }}</td>
                  <td>{{ pool['max_avail'] }}</td>
                  <td>
                      <a href="/pools/{{ pool['name'] }}">status</a>
                      <a href="/snaps/{{ pool['name'] }}">snaps</a>
                      <a href="/objects/{{ pool['name'] }}">objects</a>
                      <a href="/images/{{ pool['name'] }}">images</a>
                  </td>
              </tr>
              {% endfor %}
          </table>
      </div>
    </div>
    <!--END CEPH CLUSTER POOLS-->

  </div>
  <div id="createpool" class="pnel panel-primary panel-dialog" >
    <div class="panel-heading cd-collapsable">
        <h1 class="panel-title">
          Create Pool
        </h1>
      </div>
    <div class="panel-body"> 
        poolname: <input id="poolname" name="poolname" value="poolname"/>
        <input type="button" value="确定" class="btn1" onclick="createpool();"/>
        <input type="button" value="取消"class="btn2" onclick="closebg();"/>
    </div>
  </div>
  <script type="text/javascript">
       function showbg(){
           $("#createpool").show()
       }
       function closebg(){
           $("#createpool").hide()
       }
       function createpool(){
           newpoolname = $("#poolname").val()
           $.ajax({
               url: '/pools/',
               type: 'POST',
               data: {poolname:""+newpoolname},
               success: function( response ) {
                   $("#createpool").hide()
                   location.reload()
               },
               error: function(data) {  
                   alert(2)
               }
           })
       }
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/globalize.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/dx.chartjs.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.flot.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.flot.time.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.flot.byte.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.flot.tooltip.js') }}"></script>

</body>
</html>
